<template>
  <div class="home">
    <div id="image"></div>
    <div class="text-block">
      <h4>Unternehmen suchen</h4>
      <b-form inline>
        <b-input
          id="inline-form-input-name"
          class="col-sm-3"
          placeholder="Suche deinen Einzelhändler"
        ></b-input>

        <b-form-select
          id="inline-form-custom-select-pref"
          class="col-sm-3"
          v-model="selected"
          :options="categories"
        ></b-form-select>

        <b-form-select
          id="inline-form-custom-select-pref"
          class="col-sm-3"
          v-model="selected"
          :options="districts"
        ></b-form-select>

        <b-button variant="danger" class="col-sm-1">Suchen</b-button>
      </b-form>
    </div>
  </div>
</template>

<script>
export default {
  name: "Home",
  data() {
    return {
      selected: null,
      categories: [
        { value: null, text: "Kategorie", disabled: true },
        { text: "Lebensmittel" },
        { text: "Elektronik" },
        { text: "Schreibwaren" },
      ],
      districts: [
        { value: null, text: "Ortsteil", disabled: true },
        { text: "Birkenfeld" },
        { text: "Sankt Wendel" },
      ],
    };
  },
  methods() {},
};
</script>

<style lang="scss">
#image {
  background-image: url("../assets/birkenfeld.jpg");
  /* Set a specific height */
  height: 900px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.text-block {
  position: absolute;
  bottom: 50%;
  right: 10%;
  left: 10%;
  background-color: #242f3e;
  opacity: 0.9;
  color: white;
  padding: 20px;
}
input,
select {
  margin-right: 10px !important;
}
.form-inline {
  justify-content: center;
}
</style>
