<template>
  <div class="contact">
    <h1>Kontakt</h1>
  </div>
</template>

<script>
export default {
  name: "Kontakt"
};
</script>

<style lang="scss">
.contact {
  padding-top: 5%;
}
@media only screen and (max-width: 1200px) {
  .contact {
    padding-top: 5%;
  }
}

@media only screen and (max-width: 900px) {
  .contact {
    padding-top: 15%;
  }
}
</style>
