<template>
  <div class="übersicht">
    <h1>Übersicht</h1>
  </div>
</template>

<script>
export default {
  name: "Uebersicht",
};
</script>

<style lang="scss">
.übersicht {
  padding-top: 5%;
}
@media only screen and (max-width: 1200px) {
  .übersicht {
    padding-top: 5%;
  }
}

@media only screen and (max-width: 900px) {
  .übersicht {
    padding-top: 15%;
  }
}
</style>
