<template>
  <div>
    <div class="footer row">
      <div class="info-footer">
        <h4>Information</h4>
        <p>
          Dieses Projekt ist im Rahmen des STac-Hackathons der Hochschule
          Augsburg entstanden.
        </p>
        <p class="minus-margin">
          Ziel war es, eine Plattform für lokale Einzelunternehmen sowie
          Freiberufler zu entwicklen, um Unterstützung in Zeiten von Covid-19 zu
          bieten.
        </p>
      </div>
      <div class="contact-footer">
        <h4>Kontakt</h4>
        <span>
          <b-icon icon="envelope-fill"></b-icon>
        </span>
        <span>s17ce7@umwelt-campus.de</span>
      </div>
    </div>
    <div class="datenschutz">
      <!-- <div>
        <router-link to="/impressum">Impressum</router-link>
      </div> -->
      <div>
        <router-link to="/datenschutz">Datenschutz</router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Footer",
};
</script>

<style lang="scss">
.footer {
  background-color: #242f3e;
  color: #ccc;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: "Muli", Helvetica, Arial, sans-serif;
  h4 {
    font-weight: bold;
  }
  p {
    font-weight: 100;
  }
  .minus-margin {
    margin-top: -15px;
  }
  .info-footer {
    text-align: left;
    margin-left: 15%;
    width: 30%;
  }
  .contact-footer {
    text-align: left;
    margin-left: 15%;
    width: 30%;
  }
  .b-icon {
    margin-right: 5px;
  }
}
.datenschutz {
  padding: 10px 0;
  background-color: #1d2632;
  a {
    color: #ccc;
  }
  a:hover {
    color: #fff;
    text-decoration: none;
  }
}
</style>
