<template>
  <b-navbar toggleable="lg" type="dark" variant="secondary">
    <b-navbar-brand href="/">Kaufen in Birkenfeld</b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <b-nav-item href="/">Startseite</b-nav-item>
        <b-nav-item href="/übersicht">Übersicht</b-nav-item>
        <b-nav-item href="/kontakt">Kontakt</b-nav-item>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<script>
export default {
  name: "Navbar"
};
</script>

<style lang="scss">
.navbar {
  position: fixed !important;
  width: 100%;
}
nav.navbar.navbar-dark.bg-secondary.navbar-expand-lg {
  background-color: #242f3e !important;
}
// .navbar-dark .navbar-nav .nav-link:focus,
// .navbar-dark .navbar-nav .nav-link:hover {
//   color: #da614e !important;
// }
</style>
