<template>
  <div id="app">
    <Navbar />
    <router-view />
    <Sponsoren />
    <Footer />
  </div>
</template>

<script>
import Navbar from "@/components/Navbar";
import Sponsoren from "@/components/Sponsoren";
import Footer from "@/components/Footer";

export default {
  name: "App",
  components: {
    Navbar,
    Sponsoren,
    Footer,
  },
};
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.navbar {
  position: fixed !important;
  width: 100%;
}

.footer {
  background: #242f3e;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
}

.sponsored {
  color: #000;
  padding-top: 40px;
  padding-bottom: 40px;

  h2 {
    padding-bottom: 20px;
  }
}
nav {
  z-index: 1;
}
</style>
